# Build outputs
build/
run/
lint/

# Config files
/sim/frag/config.mk

# VSCode
*.code-workspace

# Python
__pycache__/
*.pyc
.pytest_cache/
*.pth
*.csv
*.png

# FPGA / EDA outputs
*.json
!filelists/*.json
*.yslog
*.nplog
*.asc
*.bin
*.bit
*.pdf
*.svg

# ESP-IDF
build/
managed_components/
firmware/dependencies.lock
firmware/sdkconfig
firmware/sdkconfig.old