# Build outputs
build/
run/
lint/

# Config files
/sim/frag/config.mk

# VSCode
*.code-workspace

# MATLAB
mpm

# Python
__pycache__/
*.pyc
.pytest_cache/
*.pth
*.csv
!sim/unit_testing/*/*.csv
!sim/integration_testing/*/*.csv
*.png
nn/sweep/*.html

# FPGA / EDA outputs
*.json
!sim/*/*/*.json
!rtl/top/top.json
*.yslog
*.nplog
*.asc
*.bin
*.bit
*.pdf
*.svg

# ESP-IDF
build/
managed_components/
firmware/dependencies.lock
firmware/sdkconfig
firmware/sdkconfig.old