# User overrides (local, not committed)

YOSYS      := /usr/local/bin/yosys
NETLISTSVG := $(HOME)/.npm-global/bin/netlistsvg
RSVG       := /usr/bin/rsvg-convert

IVERILOG   := /usr/bin/iverilog
VERILATOR  := /usr/bin/verilator
VERIBLE    := $(HOME)/.local/bin/verible-verilog-lint
PYTHON3    := $(HOME)/cse121/esp/hw-venv/bin/python3

NEXTPNR    := /usr/bin/nextpnr-ice40
ICEPROG    := /usr/bin/iceprog
ICEPACK    := /usr/bin/icepack
ICETIME    := /usr/bin/icetime
ICESTAT    := python3 -W ignore /usr/share/fpga-icestorm/python/icebox_stat
ICEBRAM    := /usr/bin/icebram
